/* put this xml code in svg to reference the css animations:

<?xml-stylesheet type="text/css" href="../../../gameanim.css"?>

*/

/* COFFEE SCENE ANIMATIONS */
        
#Jar_Lid, #bottleLid, #boxLid {
    animation: lidAnim linear 2s;
    animation-iteration-count: infinite;
    transform-origin:  0% 50%;
}
        
@keyframes lidAnim {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}         

.meterLine-anim {
    animation: meterLineAnim linear 3s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes meterLineAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-40deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-40deg); }
    100% { transform: rotate(0deg); }
}         

.lHandle-anim {
    animation: lHandleAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes lHandleAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}

.button-anim-on {
    animation: buttonOnAnim 5s; 
    animation-iteration-count: infinite;
}

@keyframes buttonOnAnim {
    0% { fill: #FFF1A5; }
    25% { fill: green; }
    50% { fill: #FFF1A5; }
    75% { fill: green; }
    100% { fill: #FFF1A5; }
}

.button-anim-off {
    animation: buttonOffAnim 10s; 
    animation-iteration-count: infinite;
}

@keyframes buttonOffAnim {
    0% { fill: #FFF1A5; }
    25% { fill: red; }
    50% { fill: #FFF1A5; }
    75% { fill: red; }
    100% { fill: #FFF1A5; }
}

.button-anim {
    animation: whiteButton-anim 10s; 
    animation-iteration-count: infinite;
}

@keyframes whiteButton-anim {
    0% { fill: #FFF1A5; }
    25% { fill: #B3B3B3; }
    50% { fill: #FFF1A5;}
    75% { fill: #B3B3B3;}
    100% { fill: #FFF1A5; }
}

#lSteam, #rSteam {
    stroke-dasharray: 120;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

#mSteam {
    stroke-dasharray: 140;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

/* PACKING LUNCH SCENE ANIMATIONS */

.float {
    animation: floatAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes floatAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

.float2 {
    animation: floatAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: left;
}

@keyframes floatAnim2 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-90deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

.rotate {
    animation: rotateAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: left;
}

@keyframes rotateAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

#lBreadBottom, #rBreadBottom {
  animation: breadBottom 10s infinite ease-in-out; 
}

@keyframes breadBottom {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
} 

#lHam, #rHam {
  animation: ham 10s infinite ease-in-out; 
}

@keyframes ham {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lCheese, #rCheese {
  animation: cheese 10s infinite ease-in-out; 
}

@keyframes cheese {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lLettuce, #rLettuce {
  animation: lettuce 10s infinite ease-in-out; 
}

@keyframes lettuce {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lBreadTop, #rBreadTop {
  animation: breadTop 10s infinite ease-in-out; 
}

@keyframes breadTop {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#Donut {
    animation: fulldonut 5s infinite ease;
}

@keyframes fulldonut {
    0% { opacity: 1; }
    10% { opacity: 1; }
    20% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}

#Donut1 {
    animation: onebite 5s infinite ease;
}

@keyframes onebite {
    0% { opacity: 1; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}

#Donut2 {
    animation: twobites 5s infinite ease;
}

@keyframes twobites {
    0% { opacity: 1; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}

#Carrot {
    animation: carrotAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50% 0;
}

@keyframes carrotAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

/* BRUSHING TEETH ANIMATIONS */

#b1 {
  animation: bubbles-rise 3s infinite;
}

#b2 {
  animation: bubbles-rise 3s infinite;
}

#b3 {
  animation: bubbles-rise 2.2s infinite;
  animation-delay: 0.25s;
}

#b4 {
  animation: bubbles-rise 2.5s infinite;
  animation-delay: 0.15s;
}

#b5 {
  animation: bubbles-rise 1.75s infinite;
}

#b6 {
  animation: bubbles-rise 2.5s infinite;
  animation-delay: 0.1s;
}

#b7 {
  animation: bubbles-rise 2s infinite;
  animation-delay: 0.1s;
}

#b8 {
  animation: bubbles-rise 3s infinite;
  animation-delay: 0.2s;
}

#b9 {
  animation: bubbles-rise 3.5s infinite;
  animation-delay: 0.2s;
}

#b10 {
  animation: bubbles-rise 2s infinite;
  animation-delay: 0.25s;
}

#b11 {
  animation: bubbles-rise 3.5s infinite;
  animation-delay: 0.25s;
}

@keyframes bubbles-rise {
    100% {
        transform: translate(-20px,-20px) scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
    }
}

#sparkle_bottom {
    animation: sparkle 5s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#sparkle_middle {
    animation: sparkle 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-delay: 0.5s;
}

#sparkle_top {
    animation: sparkle 3.5s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-delay: 0.8s;
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(80deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

#toothbrush {
    animation: brush 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

@keyframes brush {
    0% { transform: translateY(0px); }
    30% { transform: translateY(-100px); }
    90% { transform: translateY (-100px); }
    100% { transform: translateY(0px); }
}

/* BREAKFAST SCENE ANIMATIONS */
#ovenLight {
    animation: ovenlight 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes ovenlight {
    0% { opacity: 0; }
    20% { opacity: 0; }
    25% { opacity: 0.5; }
    30% { opacity: 0.5; }
    35% { opacity: 0; }
    100% { opacity: 0; }
}

#button2 {
    animation: button2 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes button2 {
    0% { fill: #FFFFE4; }
    20% { fill: #FFFFE4; }
    25% { fill: #DBDBD2; }
    30% { fill: #DBDBD2; }
    35% { fill: #FFFFE4; }
    100% { fill: #FFFFE4; }
}

#rightFire {
    animation: rightfire 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rightfire {
    0% { opacity: 0; }
    50% { opacity: 0.9; }
    100% { opacity: 0; }
}

#leftFire {
    animation: leftfire 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes leftfire {
    0% { opacity: 0.9; }
    50% { opacity: 0; }
    100% { opacity: 0.9; }
}

#button1 {
    animation: button1 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes button1 {
    0% { fill: #DBDBD2; }
    50% { fill: #FFFFE4; }
    100% { fill: #DBDBD2; }
}

#button4 {
    animation: button4 5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes button4 {
    0% { fill: #FFFFE4; }
    50% { fill: #DBDBD2; }
    100% { fill: #FFFFE4; }
}

#Spoon {
    animation: cutlery 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

@keyframes cutlery {
    0% { transform: translateY(0px); }
    30% { transform: translateY(20px); }
    70% { transform: translateY (20px); }
    100% { transform: translateY(0px); }
}

#Spatula {
    animation: cutlery 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-delay: 2s;
}

#Fork {
    animation: cutlery 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-delay: 1s;
}

#water1 {
  animation: water-drop 2.2s infinite;
  animation-delay: 0.25s;
}

#water2 {
  animation: water-drop 2.5s infinite;
  animation-delay: 0.15s;
}

#water3 {
  animation: water-drop 1.75s infinite;
}

#water4 {
  animation: water-drop 3.5s infinite;
  animation-delay: 0.2s;
}

#water5 {
  animation: water-drop 2s infinite;
  animation-delay: 0.25s;
}


@keyframes water-drop {
    100% {
        transform: translate(-10px,20px); scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
    }
}

/* GETTING DRESSED SCENE ANIMATIONS */

#umbrella {
    animation: umbrella-anim 3.5s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: top;
}

@keyframes umbrella-anim {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

#polos {
    animation: poloMove 5s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
@keyframes poloMove {
    0% { transform: translateX(0px); }
    25% { transform: translateX(50px); }
    50% { transform: translateX(0px); }
    100% { transform: translateX(0px); }
}

#shirts {
    animation: poloMove 5s ease-in-out;
    animation-iteration-count: infinite;
}

#top {
    animation: books 5s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes books {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
}

