/*Custom CSS*/

/*<!-- Custom CSS -->*/

    body {
        padding-top: 60px;
		font-family: 'Nunito', sans-serif;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

        
	.grabbable, grabbable:active {
			cursor: move;
		}
		
		
	#timeEstimate, #timeFinish{
			font-size: 6em;
		}
		
#addNewAct{
	text-align: center;
	font-weight: 600;
	font-size: 14pt;
	color: #FF9C32;
	margin-bottom: 7px;
	
}
		
.btn.outline {
		background: none;
		padding: 12px 22px;
		
		}
		
.btn-primary.outline {
		border: 2px solid #0099cc;
		color: #0099cc;
		}
		
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary, .btn-lg.round:hover {
		background-color: #F8DB01;
		color: #14275E;
		
		}
		
.btn-primary.outline:active, .btn-primary.outline.active, .btn-lg.round:active {
		
		background-color: #F8DB01;
		box-shadow: none;
		color: #14275E;
		}	

.btn-lg.round {
		border-radius: 24px;
		color: #14275E;
		}

.sidebar{
	text-align: left;
	font-size: 12pt;
	color: #757575;
}

.mainform{
	background-color: #FFFFE5;
}

#goodMorning{
	text-align: center;
	
	color: #FF9C32;
/*	font-size: 3em;*/
}

#welcomeMsg{
	font-weight: 700;
	text-align: center;
	width: 60%;
}

.formSectionHeader{
	background-color: #FF9C32;
	color: white;
	padding: 7px;
	font-weight: 700;
	border-radius: 6px;
	font-size: 14pt;
}



#freeTimerContainer{
	color: white;
	height: 70px;
	width: 500px;
	z-index: 1;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}


.activityLength{
	text-align: center;
	font-weight: 600;
	font-size: 16pt;
	color: #FF9C32;
	padding-top: 5px;
	display: inline;
}

.deleteButton{
	position: absolute;
	right: 10px;
}

#gameContainer{
	height: 100vh;
	width: 100vw;
	background-color: #FFF1A5;
	position: relative;
	margin-top: -60px;
	
}

#SVGplaceholder{
	max-height: 90vh;
	max-width: 90vw;
	position: fixed;
	left:-30px;
	top: 20px;
}

/*
#advanceButton{
	position: fixed;
	right: 40px;
	top: 50%;
	background-image: url(next-icon.png);
	max-width: 10%;
    height: auto;
	background-size: cover;
}
*/




.list-group-item{
	padding: 5px;
	border-width: thin;
	border-radius: 4px;
}

.welcomeHeader{
	margin-top: 5px;
}

#timerContainer{
	background-color: #FFFFE5;
	height: 200px;
	width: 200px;
	z-index: 1;
	position: fixed;
	right: 40px;
	top: 80px;
	text-align: center;
	border-radius: 50%;
}


.progress {
	z-index: 1;
	height: 200px;
	width: 200px;
	position: relative;
	right: 0;
	top: 0;
	background-color: transparent;
	text-align: center;
	border-radius: 50%;
	border-width: 0px;
	border-style: none;
	box-shadow: none;
}

.progress > svg {
   	height: 100%;
    display: block;
}

#timeRemainingAct{
	font-size: 5em;
	font-weight: 600;
	color: #FF9C32;
	text-align: center;
}

#absoluteTimer{
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	text-align: center;
	width: 100%;
}

#customActTitle{
	background-color: white;
	color: #FF9C32;
	border-radius: 6px;
	margin-top: -10px;
	padding: 10px;
	z-index: 1;
	font-size: 5em;
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

#checkboxSVG{
	z-index: 10;
	position: fixed;
	right: 103px;
	top: 320px;
	text-align: center;
}

#skipSVG{
	z-index: 100;
	position: fixed;
	right: 103px;
	top: 430px;
	text-align: center;
}


#checkmark .cls-4{
	fill: white;
}

.morning-status{
	height: 100%;
}

#warningContainer {
    background-color: mediumvioletred;
	height: 100%;
}

.footer-headers{
	padding:2px;
	padding:2px;
	display: block;
	font-weight: 700;
	font-size: 15pt;
	background-color: #14275E;
	color: white;
}

.footer-updates{
	background-color: white;
}

.footer-info{
	margin-bottom:10px;
	position: fixed;
	bottom: 17px;
	height: 70px;
	width: 100%;
	background-color:white;
}
