/*Custom CSS*/

/*<!-- Custom CSS -->*/

    body {
        padding-top: 60px;
		font-family: 'Nunito', sans-serif;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

        
	.grabbable, grabbable:active {
			cursor: move;
		}
		
		
	#timeEstimate, #timeFinish{
			font-size: 6em;
		}
		
#addNewAct{
	text-align: center;
	font-weight: 600;
	font-size: 14pt;
	color: #FF9C32;
	margin-bottom: 7px;
	
}
		
.btn.outline {
		background: none;
		padding: 12px 22px;
		
		}
		
.btn-primary.outline {
		border: 2px solid #0099cc;
		color: #0099cc;
		}
		
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary, .btn-lg.round:hover {
		background-color: #F8DB01;
		color: #14275E;
		
		}
		
.btn-primary.outline:active, .btn-primary.outline.active, .btn-lg.round:active {
		
		background-color: #F8DB01;
		box-shadow: none;
		color: #14275E;
		}	

.btn-lg.round {
		border-radius: 24px;
		color: #14275E;
		}

.sidebar{
	text-align: left;
	font-size: 12pt;
	color: #757575;
}

.mainform{
	background-color: #FFFFE5;
}

#goodMorning{
	text-align: center;
	color: #FF9C32;
}

#welcomeMsg{
	font-weight: 700;
	text-align: center;
	width: 60%;
}

.formSectionHeader{
	background-color: #FF9C32;
	color: white;
	padding: 7px;
	font-weight: 700;
	border-radius: 6px;
	font-size: 14pt;
}

#freeTimerContainer{
	color: white;
	height: 70px;
	width: 500px;
	z-index: 1;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}


.activityLength{
	text-align: center;
	font-weight: 600;
	font-size: 16pt;
	color: #FF9C32;
	padding-top: 5px;
	display: inline;
}

.deleteButton{
	position: absolute;
	right: 10px;
}

#gameContainer{
	height: 100vh;
	width: 100vw;
	background-color: #FFF1A5;
	position: relative;
	margin-top: -60px;
	
}

#SVGplaceholder{
	max-height: 90vh;
	max-width: 90vw;
	position: fixed;
	left:-30px;
	top: 20px;
}


.list-group-item{
	padding: 5px;
	border-width: thin;
	border-radius: 4px;
}

.welcomeHeader{
	margin-top: 5px;
}

/*Game Controls*/

#timerContainer{
	background-color: #FFFFE5;
	z-index: 1;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 40px;
}

.progressCustom {
	z-index: 1;
	position: relative;
	right: 0;
	top: 0;
	background-color: transparent;
	text-align: center;
	border-radius: 50%;
	border-width: 0px;
	border-style: none;
	box-shadow: none;
}

.progress > svg {
   	height: 100%;
    display: block;
}

#timeRemainingAct{
	font-weight: 600;
	color: #FF9C32;
	text-align: center;
}

#absoluteTimer{
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	text-align: center;
	width: 100%;
}

#customActTitle{
	background-color: white;
	color: #FF9C32;
	border-radius: 6px;
	margin-top: -10px;
	padding: 10px;
	z-index: 1;
	font-size: 5vw;
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

#checkboxSVG{
	display: block;
	z-index: 10;
	text-align: center;
	margin-bottom: 10px;
}

#checkboxSVG:hover, #skipSVG:hover {
    transform: scale(1.1);
}

#skipSVG{
	display: block;
	z-index: 100;
	text-align: center;
}

#right_game_controls{
	position: fixed;
	right: 10px;
	bottom: 100px;
}

#checkmark .cls-4{
	fill: white;
}

.morning-status{
	height: 100%;
}

#warningContainer {
    background-color: mediumvioletred;
	height: 100%;
}

.footer-headers{
	padding:2px;
	padding:2px;
	display: block;
	font-weight: 700;
	font-size: 15pt;
	background-color: #14275E;
	color: white;
}

.footer-updates{
	background-color: white;
}

.footer-info{
	margin-bottom:10px;
	position: fixed;
	bottom: 17px;
	height: 70px;
	width: 100%;
	background-color:white;
}

#iconPlaceholder{
	position: relative;
	left: 25px;
}

#iconContainer{
	position: fixed;
	height: 10vh;
	width: 10vw;
	z-index: 1000;
}

#iconName{
	color: #14275E;
	position: relative;
	z-index: 10000;
	left: 5px;
	text-align: center;
	width: 100%;
	background-color:#FFF1A5;
	border-radius: 6px;
}

/* Extra small devices (phones, less than 768px) */
.timerSize{
	height: 100px;
	width: 100px;	
	}
	
	.timeRemainingSize{
		font-size: 2em;
	}
	

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	.timerSize{
		height: 175px;
		width: 175px;
	}
	
	.timeRemainingSize{
		font-size: 3em;
	}
	

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.timerSize{
		height: 200px;
		width: 200px;
	}
	
	.timeRemainingSize{
		font-size: 4em;
	}
	

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	.timerSize{
		height: 200px;
		width: 200px;
	}
	
	.timeRemainingSize{
		font-size: 5em;

	}
	
}




/*Switch CSS */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F8DB01;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFFFE5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#resetList{
	margin-bottom: 38px;
}


#audioLabel{
	position: absolute;
	bottom: 71px;
	left:156px;
	color:#ccc;
}

.comingSoon{
			margin-top: 20px;
			border-radius: 6px;
			color: white;
			background-color: #FF9C32;
			text-align: center;
			padding-bottom: 20px;
		}
		
#logoImg{
	height: 100px;
}


