/* put this xml code in svg to reference the css animations:

<?xml-stylesheet type="text/css" href="../../../gameanim.css"?>

*/

/* COFFEE SCENE ANIMATIONS */
        
#Jar_Lid, #bottleLid {
    animation: lidAnim linear 2s;
    animation-iteration-count: infinite;
    transform-origin:  0% 50%;
}
        
@keyframes lidAnim {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}         

.meterLine-anim {
    animation: meterLineAnim linear 3s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes meterLineAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-40deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-40deg); }
    100% { transform: rotate(0deg); }
}         

.lHandle-anim {
    animation: lHandleAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes lHandleAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}

.button-anim-on {
    animation: buttonOnAnim 5s; 
    animation-iteration-count: infinite;
}

@keyframes buttonOnAnim {
    0% { fill: #FFF1A5; }
    25% { fill: green; }
    50% { fill: #FFF1A5; }
    75% { fill: green; }
    100% { fill: #FFF1A5; }
}

.button-anim-off {
    animation: buttonOffAnim 10s; 
    animation-iteration-count: infinite;
}

@keyframes buttonOffAnim {
    0% { fill: #FFF1A5; }
    25% { fill: red; }
    50% { fill: #FFF1A5; }
    75% { fill: red; }
    100% { fill: #FFF1A5; }
}

.button-anim {
    animation: whiteButton-anim 10s; 
    animation-iteration-count: infinite;
}

@keyframes whiteButton-anim {
    0% { fill: #FFF1A5; }
    25% { fill: #B3B3B3; }
    50% { fill: #FFF1A5;}
    75% { fill: #B3B3B3;}
    100% { fill: #FFF1A5; }
}

#lSteam, #rSteam {
    stroke-dasharray: 120;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

#mSteam {
    stroke-dasharray: 140;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

/* PACKING LUNCH SCENE ANIMATIONS */

.float {
    animation: floatAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

@keyframes floatAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

.float2 {
    animation: floatAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: left;
}

@keyframes floatAnim2 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-90deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

.rotate {
    animation: rotateAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: left;
}

@keyframes rotateAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

#lBreadBottom, #rBreadBottom {
  animation: breadBottom 10s infinite ease-in-out; 
}

@keyframes breadBottom {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
} 

#lHam, #rHam {
  animation: ham 10s infinite ease-in-out; 
}

@keyframes ham {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lCheese, #rCheese {
  animation: cheese 10s infinite ease-in-out; 
}

@keyframes cheese {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lLettuce, #rLettuce {
  animation: lettuce 10s infinite ease-in-out; 
}

@keyframes lettuce {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#lBreadTop, #rBreadTop {
  animation: breadTop 10s infinite ease-in-out; 
}

@keyframes breadTop {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

#Donut {
    animation: fulldonut 5s infinite ease;
}

@keyframes fulldonut {
    0% { opacity: 1; }
    10% { opacity: 1; }
    20% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}

#Donut1 {
    animation: onebite 5s infinite ease;
}

@keyframes onebite {
    0% { opacity: 1; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}

#Donut2 {
    animation: twobites 5s infinite ease;
}

@keyframes twobites {
    0% { opacity: 1; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}

#Carrot {
    animation: carrotAnim linear 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50% 0;
}

@keyframes carrotAnim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}