/*Custom CSS*/

/*<!-- Custom CSS -->*/

    body {
        padding-top: 70px;
		font-family: 'Nunito', sans-serif;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
		
	.logo{
		height: 70px;
		width: 70px;
		margin-bottom: 10px;
		}
		
	.navbar{
		height: 80px;
		background-color: #ffffe6;
		}
        
	.grabbable, grabbable:active {
			cursor: move;
		}
		
		
	#timeEstimate{
			font-size: 6em;
		}
		
#addNewAct{
	margin-top: 10px;
}
		
	.btn.outline {
		background: none;
		padding: 12px 22px;
		
		}
		
	.btn-primary.outline {
		border: 2px solid #0099cc;
		color: #0099cc;
		}
		
	.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary, .btn-lg.round:hover {
		background-color: #F8DB01;
		color: #14275E;
		
		}
		
	.btn-primary.outline:active, .btn-primary.outline.active, .btn-lg.round:active {
		
		background-color: #F8DB01;
		box-shadow: none;
		color: #14275E;
		}	

	.btn-lg.round {
		border-radius: 24px;
		color: #14275E;
		}

/*
#introText{
	background-color: #F8DB01;
}
*/

.sidebar{
/*	background-color: #F8DB01;*/
	text-align: center;
}

.mainform{
	background-color: #FFFFE5;
}

#goodMorning{
	text-align: center;
	font-weight: 700;
	font-size: 3em;
}

#welcomeMsg{
	text-align: center;
}

.formSectionHeader{
	background-color: #FF9C32;
	color: white;
	padding: 7px;
	font-weight: 700;
	border-radius: 6px;
}

#timerContainer{
	background-color: paleturquoise;
}

